<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ 'TITLE' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="viewSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div text-center *ngIf="!(shoppingListRef$ | async) else template">
    <ion-spinner  name="crescent"></ion-spinner>
  </div>

  <ng-template #template>
    <p *ngIf="!(shoppingListRef$ | async)?.length">{{ 'NOITEM' | translate }}</p>
    
    <ion-list>
      <ion-item [ngClass]="{'done':item.completed}" *ngFor="let item of shoppingListRef$ | async" (click)="selectShoppingItem(item)">
        <h2>{{item.itemName}}</h2>
        <p>{{item.itemNumber}}</p>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>
